<script type="text/javascript" language="JavaScript"><!--
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
//--></script>

<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>It's all about you!</h2>
        <p class="lead">We are focused on your needs.<br>Our goal is to make sure you understand your data in all the ways you set up to.<br>We work together with you to get your data scrutinated and thoroughly analysed in all expected and unexpected ways.<br>
        <a href="javascript:ReverseDisplay('uniquename')">More info..</a>
        </p>
      </div>
      <div id="uniquename" class="col-lg-12 text-center" style="display:none;">
        <p class="lead"><b>Analytics that make you succeed</b><br>We are an experienced customer oriented team located in Europe with central offices in Cologne, Germany. More precisely, in Nippes, a modern center of creativity for small and medium startups with the world as environment. We benefit from worldwide interactions that contribute to the high dynamism of our business.<br><br>
        <b>Data mining</b><br>We cover all aspects: collection, warehousing, data pre-processing, model and inference considerations, interestingness metrics, complexity considerations, post-processing of discovered structures, and visualization. If required we will work together with you for the implemention of online updating.<br><br>
        <b>Personalized data analysis</b><br>State to the art software dedicated to the analysis of big data is limited to the target analysis and often fails to fully answer particular costumer needs. We treat each project as our own, the data as if it were ours, and the results as if they determined our future. For this, we develop content specific analyses that aim at the full scrutinization of the data.<br><br>
        <b>Visualization</b><br>From simple to complex, our graphics make you and your partners understand your data. We offer state of the art visualization in open-source based vector graphics format allowing the highest image definition for any media of your choice.<br><br>
        <b>Money</b><br>Translate your analytics into money. We will go with you all the way untill the end, making sure you get the most value out of your data. Our job only stops once you start to profit.<br><br>
        <b>Multicultural</b><br>We analyse data in English, German, Portuguese, and Spanish. We don't only understand the language, we understand the culture and we understand the market. We are the perfect partner for your investments abroad.<br><br>
        <b>We look at the data</b><br>While most modern analysts tend to behave like doctors that forget to look at the patient, we do open eyes analysis, scanning data in creative, full-discovery, biased, and unbiased ways to make sure we test all possibilities. These analyses include statistically un-restricted methods as well as the latest machine learning algorithms and approaches for the identification of patterns and outliers. The results are then added to our analysis portfolio as guideline for further analysis and validation.<br><br>
        <b>Full disclosure</b><br>Why do we give out our analysis code? First, it is your data, it is your right to know exactly how it was analysed and further discuss it with others. Second, we want to stay dynamic, embracing new and different projects is our major source of dynamism.<br><br>
        <b>Your data is safe with us</b><br>Depending on your needs and your resources, your data will either be analyzed on your servers, on comercially available secure servers, or on our local machines. Data transfer and access is done over secure channels. Our contracts include data protection. We motivate client-based changes on data protection terms.<br><br>
        <b>Cloud, on demand computing</b><br>We use commercially available secure cloud computing to run our analysis. In doing so we make sure your costs directly correlate to your data size and analysis needs. Together with this, our supply of freeware based analysis code and pipelines allows our customers to re-run their analysis on old and new data every time they wish to.<br><br>
        <b>Financial, social, biological</b><br>We analyse all types of data in all types of formats. If we find a problem in your data and we can't analyse it further, you won't have to pay for the undone analysis.<br><br>
        <b>Happiness</b><br>Your happiness is our first concern. We are a highly motivated, customer oriented team that loves what we do, making sure you also do. Don't hesitate to contact us if you feel like joining us.<br><br>
        The volume of business data worldwide, across all companies, doubles every 1.2 years, according to estimates. Start analysing your data today.
	</p>
	<a href="javascript:ReverseDisplay('uniquename')" class="btn btn-dark">Hide</a> 
      </div>
    </div>

    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
