<section id="languages">
<aside class="languages bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>multilingual<br><br>english | german | portuguese | spanish</h1><br><br>
        <h3>We are global. We cover a large number of languages and will work together with you to bring your language into our portfolio. 
 
        <br><br>We don't only understand the language, we understand the culture and we understand the market.
 
        <br><br>We are the perfect partner for your investments abroad. 
        </h3>
      </div>
    </div>
  </div>
</aside>
</section>
